
# Node
node_modules/

#Server SSL keys
*.key
*.crt
*cer
server.conf
gen_server_cert.sh

#Passwords
credentials.h

#stubs
src/ESPAsyncTCP.cpp
src/ESPAsyncTCP.h
src/Ticker.h
src/IPAddress.h

#Local testing
examples/BasicEventSource/EventSource.h
examples/BasicEventSource/EventSource.cpp

#Replit
.agents
.replit
main.cpp
main
replit.md
Makefile
/package-lock.json
/package.json
