
# Node
node_modules/

#Server
*.key
*.crt

#Passwords
credentials.h

#stubs
src/ESPAsyncTCP.h
src/Ticker.h
src/IPAddress.h

examples/BasicEventSource/EventSource.h
examples/BasicEventSource/EventSource.cpp
