
# Node
node_modules/

#Server SSL keys
*.key
*.crt
*cer
server.conf
generate_cert.sh

#Passwords
credentials.h

#stubs
src/ESPAsyncTCP.h
src/Ticker.h
src/IPAddress.h

examples/BasicEventSource/EventSource.h
examples/BasicEventSource/EventSource.cpp
